
.quantity-main{
    position: relative;
    display: flex;
    gap:0.5rem;
    /* margin-top:0.9rem; */
    justify-content: center;
    align-items: center;


}
.each-raw{
    border-bottom: #f1f1f1 2px solid;
}

.quantity-no{
    min-width: 20px;
    text-align: center;
    margin:0;
    font-weight: 500;
}
.quantity-btn {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    /* background-color: #c5837c; */
    background-color: #D19C97;
    align-items: center;
    justify-content: center;
    outline: none;
}

.quantity-btn:focus,
.quantity-btn:hover {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #c5837c;
    color:white;
    font-weight: 400;

}
.quantity-btn:active{

    background-color: #676767;
    color:white;


}
